#cursor
{
    color: red;
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 20px solid red;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    border-bottom: 50%;
    pointer-events: none;
}